.hd1{
    height: 100vh;
    background-image: url(../images/coder-3.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top;
    background-position-x: 100%;
    background-size: cover;
    text-align: center;
    .tntm{
        text-align: center;
        position: absolute;
        transform: translate(-50%,-50%);
        left: 50%;
        top: 50%;
        font-size: 1.4em;
    }
    nav{
        display: flex;
        .a-logo{
            padding: 1rem;
            font-size: 2em;
            color: #000000;
            font-weight: 700;
        }
        ul.mn{
            display: flex;
            margin-left: auto;
            gap: 1rem;
            


            &.active{
                
            }

            li{
                padding: .3rem;
                a{
                    font-weight: 500;
                    color: $gri;
                    font-size: 1.5em;
                    transition-duration: .5s;
                    &:hover{
                        color: black;
                        cursor: pointer;
                        
                    }
                    &.active{
                        color: $khv;
                    }
                }

                
            }
        }
        button.cross{
            background: none;
            border: none;
            position: absolute;
            top: 20px;
            display: none;
        }



    }
    // h1{
    //     font-size: 3em;
    //     text-align: center;
    //     margin-top: 35vh;
    //     color: $syh;
    //     display: inline-block;
    //     padding: .5rem;
    //     padding-bottom: 0;
    //     transform: translate(-0,-50%);

    // }
}
.hd2{
    height: 5rem;
    background-image: url(../images/coder-3.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top;
    background-position-x: 100%;
    background-size: cover;
    text-align: center;
    nav{
        display: flex;
        .a-logo{
            padding: 1rem;
            font-size: 2em;
            color: #000000;
            font-weight: 700;
        }
        ul{
            display: flex;
            margin-left: auto;
            gap: 1rem;
            
            li{
                padding: 1rem;
                a{
                    font-weight: 500;
                    color: $gri;
                    font-size: 1.5em;
                    transition-duration: .5s;
                    &:hover{
                        color: black;
                        cursor: pointer;
                        
                    }
                    &.active{
                        color: $khv;
                    }
                }

                
            }
        }




    }
}